# Analyzing time series and images

* [Visualizing time series](#viz)  
   * [Multiple time series on common axes](#mce)
   * [Mutiple time series slices](#slices)
   * [Plotting an inset view](#inset)
* [Time series with moving windows](#moving)
   * [Plotting moving averages](#avg)
   * [Plotting moving standard deviations](#std)
* [Histogram equalization in images](#himage)
   * [Extracting a histogram from a grayscale image](#grey)
   * [Cumulative Distribution Function from an image histogram](#cdf)
   * [Equalizing an image histogram](#hist)
   * [Extracting histograms from a color image](#hcm)
   * [Extracting bivariate histograms from a color image](#hbcm)

In [37]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
% matplotlib auto

Using matplotlib backend: MacOSX

In [49]:
stocks = pd.read_csv('./data/stocks.csv')
stocks['Date'] =  pd.to_datetime(stocks['Date'], format='%Y-%m-%d')


stocks.head()

        Date        AAPL       IBM      CSCO      MSFT
0 2000-01-03  111.937502  116.0000  108.0625  116.5625
1 2000-01-04  102.500003  112.0625  102.0000  112.6250
2 2000-01-05  103.999997  116.0000  101.6875  113.8125
3 2000-01-06   94.999998  114.0000  100.0000  110.0000
4 2000-01-07   99.500001  113.5000  105.8750  111.4375

<a id = 'viz'> <a>
## Visualizing time series

<a id = 'mce'> <a>
### Multiple time series on common axes

In [39]:
plt.plot(stocks.AAPL, color ='blue', label='AAPL')
# Plot the ibm time series in green
plt.plot(stocks.IBM, color='green', label='IBM')

# Plot the csco time series in red
plt.plot(stocks.CSCO, color='red', label='CSCO')

# Plot the msft time series in magenta
plt.plot(stocks.MSFT, color = 'magenta', label = 'MSFT')
# Add a legend in the top left corner of the plot
plt.legend(loc='upper left')

# Specify the orientation of the xticks
plt.xticks(rotation = 60)

# Display the plot
plt.show()

<a id = 'slices'> <a>
### Mutiple time series slices

In [41]:
# Plot the series in the top subplot in blue
plt.subplot(2,1,1)
plt.xticks(rotation=45)
plt.title('AAPL: 2001 to 2011')
plt.plot(stocks.AAPL, color='blue')

In [54]:
# Slice aapl from '2007' to '2008' inclusive: view

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

<a id = 'inset'> <a>
### Plotting an inset view

<a id = 'moving'> <a>
## Time series with moving windows

<a id = 'avg'> <a>
### Plotting moving averages

<a id = 'std'> <a>
### Plotting moving standard deviations

<a id = 'himage'> <a>
## Histogram equalization in images

<a id = 'grey'> <a>
### Extracting a histogram from a grayscale image

<a id = 'cdf'> <a>
### Cumulative Distribution Function from an image histogram

<a id = 'hist'> <a>
### Equalizing an image histogram

<a id = 'hcm'> <a>
### Extracting histograms from a color image

### Learn<p id ='Learn'><p>

### Pricing<p id ='Pricing'><p>

<a id = 'hbcm'> <a>
### Extracting bivariate histograms from a color image